.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    font-size: 30px;
    text-align: center;
}






table,
#facil-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    /* min-width: 200px; */
}

#facil-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.6em;
    width: 100%;
}

table thead tr,
#facil-table thead tr {
    background-color: #6b6a6a;
    color: #ffffff;
    text-align: center;
}

table th,
td,
#facil-table th,
td {
    padding: 12px 15px;
}

#categories {
    font-size: 15px;
}



#amenity-dropdown {
    display: flex;
    padding: 10px;
}


#facilities {
    margin-left: 2em;
    margin-right: auto;
}

/* #facilities h2 {
    padding: 10px;
} */

/* Responsive layout - makes a one column-layout instead of a two-column layout
@media (max-width: 800px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
} */